<div class="container py-5 about">
  @if (articleAboutUs(); as article) {
    <div class="row align-items-center g-4">

      <div class="col-12 col-lg-7 order-1 order-lg-1">
        <!-- <img class="img-fluid" src="{{ article.photoURL }}" alt="The best burger" /> -->
      </div>

      <div class="col-12 col-lg-5 order-2 order-lg-2">
        <h1> {{ article.titre }}</h1>
        <div class="trait my-3"></div>
        <h2 [innerHTML]="article.sousTitre | hashtags" style="border-right: 10px solid #faba2600;"></h2>
        <p> {{ article.contenu }}</p>
      </div>
    </div>
  } @else {
    <p>Chargement...</p>
  }

</div>
