.bloc-video {
  position: relative;
  width: 100%;
}

.video {
  width: 100%;
  display: block;
  object-fit: cover;
}

.play {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 2;

}
