$bgColor: #0a0a0a;
$secondaryBgColor: #0f0f0f;
$orangeButtons: #ff6d1f;
$yellowButtons: #fabb26;
$greenButton: #2aa321;
$lightGrayBg: #242424;
$mainText: #ffffff;
$yellowText: #fabb26;
$blackText: #000000;

$bigTitles: (
    size: 72px,
    family: 'Roboto Condensed',
    font-style: black 900,    
    );

$smallTitles: (
    size: 36px,
    family: 'Roboto Condensed',
    font-style: light 300,
    );

$text: (
    size: 18px,
    family: 'Arial',
    font-style: regular 400,
    );

$readMore: (
    size: 12px,
    family: 'Roboto Condensed',
    font-style: regular 400,
    );

$buttons: (
    size: 23px,
    family: 'Roboto Condensed',
    font-style: bold 700,
    );

$OrderNow: (
    size: 18px,
    family: 'Roboto Condensed',
    font-style: black 900,    
    );




