$bgColor: #0a0a0a;
$secondaryBgColor: #0f0f0f;
$orangeButtons: #ff6d1f;
$yellowButtons: #fabb26;
$greenButton: #2aa321;
$lightGrayBg: #242424;
$mainText: #ffffff;
$yellowText: #fabb26;
$blackText: #000000;

$fontRoboto: 'Roboto Condensed';
$fontArial: 'Arial';
$fontStyleBlack: 'black 900';
$fontStyleBold: 'bold 700';
$fontStyleRegular: 'regular 400';
$fontStyleLight: 'light 300';

$bigTitles: 72px;
$smallTitles: 36px;
$text: 18px;
$readMore: 12px;
$buttons: 23px;
$OrderNow: 18px;



